.pages{
	background: #5BCFF2 !important;
	color: #000 !important;
	font: 14px Arial !important;
	margin: 0 auto !important;
	padding: 0 !important;
	position: relative !important;
}
.apps{
    text-align:left;
}
.app {
    position:absolute !important;             
    left:50% !important;
    top:50% !important;
    height:50px !important;                   
    width:225px !important;                   
    text-align:center !important;
    padding:180px 0px 0px 0px !important;     
    margin:-115px 0px 0px -112px !important; 
}